body {
    height: 95vh;          /* Vollbildhöhe */
    margin: 5px; 
    font-family: 'Lobster', cursive;
    background-color: #f5f5f5;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-one {    
    justify-content: center; /* Zentrierung horizontal */
    align-items: center;    /* Zentrierung vertikal */
    width: 90%;
    height: 90%;
    max-width: 600px;
    padding: 10px;
    background-color: rgb(176, 183, 247); /* Gleiche Farbe wie die Hauptseite */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.container-two {    
    width: 85%;
    max-width: 600px;
    
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(129, 141, 245);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.container-three {   
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 85%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(129, 141, 245);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
    
}

.container-one h2 {
    text-align: center;
    color: #333;
}

textarea, input[type="text"], select {
    width: 100%;
    min-height: 30px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.scrollable-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Container wächst, um verfügbaren Platz zu füllen */
    overflow-y: auto; /* Scrollen bei Überlauf */
    border: 1px solid #ddd;
    background-color: rgb(176, 183, 247);
    padding: 10px;
    margin-bottom: 15px;
    max-height: 300px;
}

button {
    width: 100%; /* Schaltflächen sind genauso breit wie der Rest */
    padding: 10px 15px;
    background-color: #6c757d; 
    border: 1px solid #ccc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    bo
}

button:hover {
    background-color: #0056b3;
}

.back-button {
    background-color: #6c757d; 
    border: 1px solid #ccc;
}

.back-button:hover {
    background-color: #5a6268;
}
